<div class="teacher-table">
    <table>
      <thead>
        <tr>
          <th *ngFor="let field of tableFields">{{ field }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{ teacher.teacherId }}</td>
          <td>{{ teacher.firstName }}</td>
          <td>{{ teacher.lastName }}</td>
          <td>{{ teacher.middleName }}</td>
          <td>{{ teacher.birthDate | date:'yyyy-MM-dd' }}</td>
          <td>{{ teacher.style | teachingStyle }}</td>
        </tr>
      </tbody>
    </table>
  </div>
